<app-headeru></app-headeru>

<!-- Shop Detail Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 pb-5">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner border">
                    <div class="carousel-item active">
                        <img class="w-85 h-20" style="height:500px" src="/assets/User/Anh/{{truyen.anh}}" alt="Image">
                    </div>

                </div>

            </div>
        </div>

        <div class="col-lg-7 pb-5">
            <h3 class="font-weight-semi-bold">{{truyen.tentruyen}}</h3>


            <p class="text-dark font-weight-medium mb-0 mr-2">{{tentacgia}}</p>
            <p class="text-dark font-weight-medium mb-0 mr-2">{{truyen.trangthai}}</p>
            <p class="text-dark font-weight-medium mb-0 mr-2">{{truyen.ngaydang}}</p>
            <p class="text-dark font-weight-medium mb-0 mr-2">Số chương: {{truyen.sochuong}}</p>

            <p class="text-dark font-weight-medium mb-0 mr-2">{{tentheloai}}</p>

            <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Văn án</a>
            <p class="text-dark font-weight-medium mb-0 mr-2">{{truyen.vanan}}</p>

            <div class="d-flex align-items-center mb-4 pt-2">
                <button class="btn btn-primary px-3" (click)="docTruyenAll(truyen.id_truyen)"><i
                        class="fas fa-eye text-primary mr-1"></i> Đọc truyện</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary px-3" (click)="onAddThuvien(truyen)" href="/thuvien"><i
                        class="fa fa-heart mr-1"></i> Yêu thích</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       
            </div>
            <!-- <div class="d-flex pt-2">
                <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
                <div class="d-inline-flex">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-pinterest"></i>
                    </a>
                </div>
            </div> -->
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Danh Sách Chương</a>
            </div>
            <div class="table-responsive pt-3">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                        <tr *ngFor="let ct of chuongtruyen">

                            <td><a href="javascript:void(0)" (click)="getIdTruyenByStt(ct)" >{{ct.tenchuong}} </a></td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->
    <div class="row px-xl-5">
        <div class="col">
            <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                <a class="nav-item nav-link active" data-toggle="tab" style="margin-left:-1050px" href="#tab-pane-1"><i
                    class="fa fa-comment mr-1"></i>Bình luận</a>
            </div>
            <div class="table-responsive pt-3" >
                    <table class="table table-bordered">
                        <tbody>
                            <tr>

                            <tr *ngFor="let dg of danhgia">
                                <img class="w-85 h-20" style="height:500px" src="/assets/User/Anh1/{{anh}}" alt="Image">

    
                                    <td><a >{{tendaydu}}<br />
                                        {{dg.noidung}} <br />
                                        {{dg.ngaydang}}
                                    </a></td>
                            </tr>
    
                        </tbody>
                    </table>
                
        </div>
    </div>


    <app-footer></app-footer>